extends layout/main

block variables
	-var title = 'Главная страница'

block content
	header.promo 
		.container 
			nav.navigation
				a
					img(src="static/images/common/logo.png", alt="logo").logo
				ul.promo__list-navigation
					li.list-navigation-item
						a Преимущества
					li.list-navigation-item
						a Наша работа     
					li.list-navigation-item
						a Цены       
					li.list-navigation-item
						a Схема работы
					li.list-navigation-item
						a Отзывы 
					li.list-navigation-item
						a Контакты
				.telephone 
					.telephone__number
						p.questions Есть вопросы?
						a(href="tel:+79264230100").telephone__calling +7 (926) 423 01 00
					button(type="submit").main-btn.calling__btn Перезвоните мне 
			.mainscreen
				h3.mainscreen__company Global Opt - логистика полного цикла из Китая в Россию
				h1.mainscreen__title ДОСТАВКА ГРУЗОВ ИЗ КИТАЯ
				h2.mainscreen__subtitle В РОССИЮ И СНГ ВСЕМИ ВИДАМИ ТРАНСПОРТА
				.mainscreen__decoration
					.mainscreen__decoration-leftline
					.mainscreen__decoration-eclipse 
					.mainscreen__decoration-rightline
				.mainscreen__descr 
					.mainscreen__descr-item 
						img(src="static/images/common/bag.png" alt="bag")
						p Перевозка негабаритных и крупно-<br>тоннажных грузов
					.mainscreen__descr-item.descr-item__decloration 
						img(src="static/images/common/decloration.png" alt="decloration")
						p Самостоятельно декларируем и<br> проводим таможенную очистку с<br> оптимизацией кодов и ставок
					.mainscreen__descr-item
						img(src="static/images/common/hand.png" alt="hand")
						p Осуществляем прямые поставки с<br> заводов от двери до двери
					.mainscreen__descr-item
						img(src="static/images/common/express.png" alt="express")
						p Экспресс доставка 1-2 дня из Гуан-<br>чжоу в Москву от 25$/кг 
				button.main-btn.btn__mainscreen Получить расчет
	section.advantages
		.container
			h2.advantages__title Преимущества работы с GlobalOpt
			.advantages__list 
				.advantages__list-item
					img(src="static/images/common/office.png" alt="office")
					.advantages__list-item-content
						h4 Офисы в Китае и России
						p Офисы расположены в Москве, столице России.  И в Гуанчжоу,<br> мировом торговом мегаполисе Китая. 
				.advantages__list-item
					img(src="static/images/common/frame.png" alt="frame")
					.advantages__list-item-content
						h4 Квалифицированные кадры
						p Наши сотрудники имеют большой опыт в логистике с Китаем и в<br> совершенстве владеют китайским и английским языками.
				.advantages__list-item
					img(src="static/images/common/storage.png" alt="storage")
					.advantages__list-item-content
						h4 Собственный склад в Китае
						p Свой склад в Китае, позволяет собирать и проверять и упаковывать<br>  ваши товары, перед отправкой.
				.advantages__list-item
					img(src="static/images/common/opt.png" alt="opt")
					.advantages__list-item-content
						h4 Делаем оптовые поставки под ключ
						p Берём на себя все заботы связанные с  закупкой, проверкой на<br> качество, логистикой и растаможкой. От вас требуется лишь<br> заполнить техническое задание, одобрить  образцы товаров и после<br> принять товар на своём складе!
				.advantages__list-item
					img(src="static/images/common/optimization.png" alt="optimization")
					.advantages__list-item-content
						h4 Декларируем груз с оптимизацией
						p Идем на встречу своим клиентам и помогаем растаможить груз с<br> оптимизацией кодов и ставок.
				.advantages__list-item
					img(src="static/images/common/search.png" alt="search")
					.advantages__list-item-content
						h4 Осуществляем поиск производителей
						p Помогаем нашим клиентам найти интересующий вас товар или<br> производителя в Китае.
				.advantages__list-item
					img(src="static/images/common/translate.png" alt="translate")
					.advantages__list-item-content
						h4 Перевод денег в Китай
						p Помогаем переводить и оплачивать товар в Китае на льготных<br> условиях
				.advantages__list-item
					img(src="static/images/common/travel.png" alt="travel")
					.advantages__list-item-content
						h4 Поездка на производство в Китай
						p У нас большой опыт в бизнес поездках по Китаю. Мы с большой<br> радостью и желанием организуем вам такую поездку в Китай под<br> ключ. Сделаем визу, трансфер из аэропорта, забронируем отель,<br> предоставим переводчика. Организуем поездку на производство.<br> Шоп тур. Мебельный тур.
	section.ourwork
		.container
			h2.ourwork__title Наша работа - больше чем просто доставка
			.ourwork__decoration
				.ourwork__decoration-item
			p.ourwork__subtitle Мы организуем перевозки из Китая - оперативно и надежно, с учетом особенностей груза<br> и ваших требований по срокам и бюджету.
			.ourwork__descr 
				.ourwork__descr-item 
					img(src="static/images/common/insurance.png", alt="insurance")
					.ourwork__descr-item-content 
						h4 Страховка груза
						p Все грузы, логистику которых осуществляет Global Opt, застрахованы. Мы гарантируем полное возмещение стоимости груза в случаях, предусмотренных страхо- вым соглашением. Все ваши тревоги наша компания берет на себя.
				.ourwork__descr-item 
					img(src="static/images/common/logistics.png", alt="logistics")
					.ourwork__descr-item-content 
						h4 Логистика последней мили
						p Мы осуществляем доставку вашего груза до конкретного адреса. Привоз согласовывается менед- жерами по телефону, предварительно за сутки и за час до доставки. Также мы предоставляем услуги грузчи- ков по месту доставки груза.
				.ourwork__descr-item 
					img(src="static/images/common/lookinggo.png", alt="lookinggo")
					.ourwork__descr-item-content 
						h4 Мы всегда смотрим вперед 
						p Философия нашей компании, делать себя и своих<br> партнеров по всему миру, успешными и богатыми. Поэтому мы всегда открыты к диалогу о партнерстве и инвестициях. 
	section.agent 
		.container 
			.agent__logo
				img(src="static/images/common/agent.png", alt="agent")
			h3.agent__title Агент в Китае
			p.agent__descr Русскоговорящие представители компании без труда найдут именно тот товар, который будет отвечать Вашим<br> запросам как по качеству, так и по цене. 
	section.price 
		.container 
			h2.price__title Цены на любой вариант доставки
			.ourwork__decoration
				.ourwork__decoration-item
			.price__descr Перевозки грузов на дальние расстояния без каких-либо ограничений.<br> Любой груз доставим вовремя. 
			.price__cards
				.price__cards-item
					.price__cards-item-header
						h4 Доставка морем
					.price__cards-item-content 
						picture 
							source(srcset="static/images/common/sea.png", type="image/png")
							img(src="static/images/common/sea.png", alt="sea")
						p.price__cards-item-subtitle Доставка 35-50 дней
						p.price__cards-item-title от 0,3$ за 1 кг
						p.price__cards-item-descr Морские перевозки грузов из Китая<br> в Россию за 35 дней<br> с прохождением таможни 
						button.main-btn.price__cards-item-btn Подробнее
				.price__cards-item
					.price__cards-item-header
						h4 Ж/Д доставка
					.price__cards-item-content 
						picture 
							source(srcset="static/images/common/train.png", type="image/png")
							img(src="static/images/common/train.png", alt="train")
						p.price__cards-item-subtitle Доставка 15-28 дней
						p.price__cards-item-title от 1$ за 1 кг
						p.price__cards-item-descr ЖД перевозки грузов из Китая в<br> Россию от 2 недель<br> с прохождением таможни
						button.main-btn.price__cards-item-btn Подробнее
				.price__cards-item
					.price__cards-item-header
						h4 Автодоставка
					.price__cards-item-content 
						picture 
							source(srcset="static/images/common/car.png", type="image/png")
							img(src="static/images/common/car.png", alt="car")
						p.price__cards-item-subtitle Доставка 12-20 дня
						p.price__cards-item-title от 1$ за 1 кг
						p.price__cards-item-descr Автоперевозки грузов из Китая в<br> Россию от 2 недель<br> с прохождением таможни
						button.main-btn.price__cards-item-btn Подробнее
				.price__cards-item
					.price__cards-item-header
						h4 Авиа доставка
					.price__cards-item-content 
						picture 
							source(srcset="static/images/common/air.png", type="image/png")
							img(src="static/images/common/air.png", alt="air")
						p.price__cards-item-subtitle Доставка 1-12 дней
						p.price__cards-item-title от 6$ за 1 кг
						p.price__cards-item-descr Авиаперевозки грузов из Китая в<br> Россию до 2 недель<br> с прохождением таможни
						button.main-btn.price__cards-item-btn Подробнее
		.consultation 
			h2.consultation__title Заказать бесплатную консультацию
			form(action="", method="post").consultation__form
				fieldset 
					legend.consultation__form-titleimg 
						img(src="static/images/common/consultation.png", alt="consultation")
					.consultation__form-inputs
						input(type="text" id="username", name="username" placeholder="Ваше имя...")
						input(type="tel", id="telephone", name="telephone", autocomplete="on", placeholder="Ваш номер телефона...")
						input(type="email", id="email", name="email", autocomplete="on", placeholder="Ваш e-mail...")
			.consultation__wrapper
				button(type="submit").main-btn.consultation__form-btn  Отправить заявку
	section.managers 	
		.container 
			picture 
				source(srcset="static/images/common/managers.png", type="image/webp")
				img(src="static/images/common/managers.png", alt="managers")
			h3.managers__title Менеджеры компании
			p.managers__descr Подберут для Вас оптимальную схему грузоперевозки. Проведут контроль закупок, организуют прямые<br> поставки от завода-изготовителя.
	section.schema
		.container 
			h3.schema__title Схема работы с нами
			.schema__list 
				.schema__list-item 
					img(src="static/images/common/request.png", alt="request")
					.schema__list-item-content
						h4.schema__list-item-title Заявка
						p Вы оставляете заявку на нашем сайте<br> или звоните нам
				.schema__list-item 
					img(src="static/images/common/map.png", alt="map")
					.schema__list-item-content
						h4.schema__list-item-title Аналитика доставки
						p Мы просчитываем варианты доставки<br> Вашего груза
				.schema__list-item 
					img(src="static/images/common/contract.png", alt="contract")
					.schema__list-item-content
						h4.schema__list-item-title Договор
						p Заключаем с Вами договор о поставке<br> груза из Китая
				.schema__list-item 
					img(src="static/images/common/youstorage.png", alt="youstorage")
					.schema__list-item-content
						h4.schema__list-item-title Доставка на наш склад
						p Связываемся с Вашим поставщиком в<br> Китае и договариваемся о доставке<br> груза на наш склад 
				.schema__list-item 
					img(src="static/images/common/check.png", alt="check")
					.schema__list-item-content
						h4.schema__list-item-title Проверка груза
						p Мы проверяем, собираем и<br> упаковываем перед отправкой Ваш<br> груз на своём складе
				.schema__list-item 
					img(src="static/images/common/deliver.png", alt="deliver")
					.schema__list-item-content
						h4.schema__list-item-title Доставка груза
						p Мы перевозим ваш груз до места<br> назначения и производим таможенную<br> очистку
				.schema__list-item 
					img(src="static/images/common/wallet.png", alt="wallet")
					.schema__list-item-content
						h4.schema__list-item-title Оплата
						p Оплачиваете доставку груза при<br> получении 
	section.reviews
		.container 
			h3.reviews__title отзывы наших клиентов
			.reviews__decoration
				.ourwork__decoration-item
			p.reviews__descr Мы всегда стараемся помочь клиентам, что бы они обращались к нам снова
	section.carousel 
		.container 
			.my-slider
				.slide 
					img(src="static/images/common/reviewone.png", alt="reviewone")
					h4.slide__title Анисимова Ольга
					p.slide__descr Хочу рассказать о компании Global Opt. Самое главное что меня радует, это быстрый поиск<br> и анализ определенного товара. Доставляла через компанию уже много раз, от расходных<br> материалов для отеля, ло дольших партий детской одежды. Буду продолжать пользоваться<br> услугами даной компании
				.slide
					img(src="static/images/common/reviewone.png", alt="reviewone")
					h4.slide__title Анисимова Ольга
					p.slide__descr Хочу рассказать о компании Global Opt. Самое главное что меня радует, это быстрый поиск<br> и анализ определенного товара. Доставляла через компанию уже много раз, от расходных<br> материалов для отеля, ло дольших партий детской одежды. Буду продолжать пользоваться<br> услугами даной компании
				.slide
					img(src="static/images/common/reviewone.png", alt="reviewone")
					h4.slide__title Анисимова Ольга
					p.slide__descr Хочу рассказать о компании Global Opt. Самое главное что меня радует, это быстрый поиск<br> и анализ определенного товара. Доставляла через компанию уже много раз, от расходных<br> материалов для отеля, ло дольших партий детской одежды. Буду продолжать пользоваться<br> услугами даной компании
			button(class="prev") 
				<img src="static/images/common/left.png">
			button(class="next") 
				<img src="static/images/common/right.png">
	section.form 
		.container
			.form__box 
				.form__box-header 
					h3 Остались вопросы?
					p Напишите нам!
				form(action="", method="post").form__box-inputs 
					input(type="text" id="username", name="username" placeholder="Ваше имя...").form__box-inputs-form.box-inputs-form-name  
					input(type="tel", id="telephone", name="telephone", autocomplete="on", placeholder="Ваш номер телефона...").form__box-inputs-form.box-inputs-form-telephone  
					input(type="email", id="email", name="email", autocomplete="on", placeholder="Ваш e-mail...").form__box-inputs-form.box-inputs-form-email  
					textarea(name="user_message", cols="30", rows="4", type="text", id="message", placeholder="Сообщение...")
					button(type="submit").main-btn.form__submit-btn  Отправить заявку
	section.map 
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.6063717386196!2d37.62502931604621!3d55.74796799983211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54af8f4b2bb81%3A0x4ddbd95d7439813b!2z0KHQsNC00L7QstC90LjRh9C10YHQutCw0Y8g0YPQuy4sIDUsINC-0YTQuNGBIDQtNiwg0JzQvtGB0LrQstCwLCAxMTUwMzU!5e0!3m2!1sru!2sru!4v1628876296459!5m2!1sru!2sru" width="1903" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	footer 
		.container
			.footer__wrapper
				.footer__logo 
					img(src="static/images/common/logo.png", alt="logo")
				p.footer__descr Global Opt - Доставка грузов из Китая в Россию и СНГ
				.telephone.telephone__footer
					.telephone__number.number__footer
						p.questions Есть вопросы?
						a(href="tel:+79264230100").telephone__calling +7 (926) 423 01 00
					button(type="submit").main-btn.footer__btn Перезвоните мне
